# Sony DualSense (PS5)
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0ce6", TAG+="uaccess"
# Sony DualShock 4
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="05c4", TAG+="uaccess"
# Sony DualShock 4 v2
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="09cc", TAG+="uaccess"
# Nintendo Switch Pro Controller
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="2009", TAG+="uaccess"
# Microsoft Xbox Elite Series 2
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0b00", TAG+="uaccess"
# Valve Steam Deck
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="28de", ATTRS{idProduct}=="1205", TAG+="uaccess"
# 8BitDo Ultimate Controller
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2dc8", ATTRS{idProduct}=="6003", TAG+="uaccess"
# Flydigi Vader 5 Pro
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="37d7", ATTRS{idProduct}=="2401", TAG+="uaccess"
# Flydigi Vader 4 Pro
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="37d7", ATTRS{idProduct}=="3001", TAG+="uaccess"
# Flydigi Vader 4 Pro (DInput/2.4G variant)
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="2412", TAG+="uaccess"
# HORI Horipad Steam
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="00c5", TAG+="uaccess"
# Lenovo Legion Go
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="17ef", ATTRS{idProduct}=="6182", TAG+="uaccess"
# Lenovo Legion Go S
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="e310", TAG+="uaccess"
